<div class="modal">
  <ion-header-bar>
    <h1 class="title">Resultado</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">O Etanol é a opção com o melhor custo/benefício</span>
        </label>
        <div class="padding">
          <button class="button button-block button-calm icon-left ion-close-circled" ng-click="closeLogin()">Fechar</button>
        </div>
      </div>
    </form>
  </ion-content>
</div>

