<ion-view title="FlexMath">
  <ion-content class="has-header has-footer">
    <div class="list">
    	<div class="item">
    		Autonomia
  		  <div class="range range-energized">
    		  <i class="icon ion-waterdrop"></i>
    		  <input type="range" name="volumeGas" min="0" max="700" value="0" ng-model="gasolina">
    		  {{ gasolina }} km/L
  		  </div>
  		  <div class="range range-balanced">
    		  <i class="icon ion-leaf"></i>
    		  <input type="range" name="volumeEt" min="0" max="700" value="0" ng-model="etanol">
    		  {{ etanol }} km/L
  		  </div>
      </div>
  		<div class="item item-input-wrapper item-text-wrap">
  			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  		</div>
  		<div class="item">
    		Preço
    		<div class="range range-energized">
      		<i class="icon ion-waterdrop"></i>
      		<input type="range" name="precoGas" min="0" max="10000" value="0" ng-model="precoGasolina">
    	   	R$ {{ precoGasolina }}
  		  </div>
  		  <div class="range range-balanced">
    		  <i class="icon ion-leaf"></i>
    		  <input type="range" name="precoEt" min="0" max="10000" value="0" ng-model="precoEtanol">
    		  R$ {{ precoEtanol }}
  		  </div>
      </div>
  		<div class="item item-input-wrapper item-text-wrap">
  			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  		</div>
      <div class="padding">
      <button class="button button-block button-dark icon-left ion-checkmark-circled">
        Calcular
      </button>
</div>
	</div>
  </ion-content>

  <div class="bar bar-subfooter">
  	<i class="icon ion-waterdrop"></i> = gasolina /
  	<i class="icon ion-leaf"></i> = etanol
  </div>
</ion-view>
