<ion-view title="Calculadora">
  <ion-content class="has-footer">
    <div class="list">
    	<div class="row">
    		<h4><i class="icon ion-model-s"></i> Autonomia</h4>
  		</div>
  		<div class="range range-energized">
    		<i class="icon ion-waterdrop"></i>
    		<input type="range" name="volume" min="0" max="100" value="0">
    		km/L
  		</div>
  		<div class="range range-balanced">
    		<i class="icon ion-leaf"></i>
    		<input type="range" name="volume" min="0" max="100" value="0">
    		km/L
  		</div>
  		<div class="item item-stable item-text-wrap">
  			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  		</div>
  		<div class="row">
    		<h4><i class="icon ion-social-usd"></i> Preço</h4>
  		</div>
  		<div class="range range-energized">
    		<i class="icon ion-waterdrop"></i>
    		<input type="range" name="volume" min="0" max="10000" value="0">
    		R$
  		</div>
  		<div class="range range-balanced">
    		<i class="icon ion-leaf"></i>
    		<input type="range" name="volume" min="0" max="10000" value="0">
    		R$
  		</div>
  		<div class="item item-stable item-text-wrap">
  			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  		</div>
	</div>
  </ion-content>

  <div class="bar bar-subfooter">
  	<i class="icon ion-waterdrop"></i> = gasolina /
  	<i class="icon ion-leaf"></i> = etanol
  </div>
</ion-view>
