<ion-tabs class="tabs-icon-top tabs-calm">


  <ion-tab title="Calculadora" icon="icon ion-calculator" href="#/tab/calculadora">
    <ion-nav-view name="tab-calculadora"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Estatisticas" icon="icon ion-speedometer" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


   <ion-tab title="Configurações" icon="icon ion-gear-a" href="#/tab/configuracoes">
    <ion-nav-view name="tab-configuracoes"></ion-nav-view>
  </ion-tab>

</ion-tabs>
